/*screen resize for 414px*/
@media screen and (width: 414px) {
  h1 {
    font-size: 20px;
    letter-spacing: 1px;
    white-space: nowrap;
  }
}
@media screen and (width: 414px) {
  .lead_txt {
    position: absolute;
    margin-top: -10px;
    margin-left: -320px;
  }
}
@media screen and (width: 414px) {
  .lead_txt2 {
    position: absolute;
    top: 2665px;
    left: 100px;
    width: 50%;
    z-index: 2;
  }
}
@media screen and (width: 414px) {
  h3 {
    font-size: 20px;
    letter-spacing: 1px;
    white-space: nowrap;
  }
}
@media screen and (width: 414px) {
  h2, h4 {
    display: none;
  }
}
@media screen and (width: 414px) {
  p {
    font-size: 15px;
  }
}
@media screen and (width: 414px) {
  p3 {
    font-size: 16px;
  }
}
@media screen and (width: 414px) {
  p4 {
    font-size: 14px;
  }
}
@media screen and (width: 414px) {
  .introBox {
    margin-top: -20px;
    margin-left: 80px;
  }
}
@media screen and (width: 414px) {
  hr {
    width: 28%;
  }
}
@media screen and (width: 414px) {
  .fa {
    padding: 3px;
    font-size: 10px;
    width: 15px;
    text-align: center;
  }
}
